<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>username</key>
	<string>sol@owal.io</string>
	<key>secret</key>
	<string>a285d4025ca53fd8bd75ab3402d0f88e</string>
</dict>
</plist>
